doctype html
html
  head
    title 신규작성
    meta(charset='utf-8')
    
  body
        p
          b 지출명
          input(id='title')
        p
          b 지출액
          input(id='gold')
        p
          input(type='submit' value='완료')
